

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.CodeMirror {
	border: 1px solid #444;
	background-color: #272822;
	margin-bottom: 20px;
	color: #F4F8EE;
}

.navbar-inverse {
	background-color: #272822;
}















